@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body{
    font-family: 'VT323', monospace;
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-image: url("../img/fondoSoftware.png");
    background-size: cover; /*esto el dice que abarque todo el espacio*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*es parecido al position que no dejaba mover cosas*/

}

h1{
    color: white;
}

p{
    color: white;
}

li{
    color: white;
}

img{
    width: 25vh;
}

.panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    width: 75%;
    height: 80vh;
    margin: auto; /*esto lo movio al centro*/
    padding: 30px;
    background: transparent;
    border: 3px solid #8d65c2b1; /*el 3px es el grosor, solid estilo de la linea*/

    box-shadow: 
    0 0 10px  #7537c6b1,
    0 0 20px  #7537c6b1,
    inset 0 0 10px #7537c6b1;
}




.mitad-arriba{
    display: flex;
}
.mitad-abajo{
    display: flex;
    
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 280px;
    padding: 20px;

    border: 5px solid #7537c6b1;
    box-shadow:
    0 0 10px #7537c6b1,
    0 0 20px #7537c6b1,
    inset 0 0 10px #7537c6b1;
}

.menu2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: transparent;
}

#planeta{
    width: 220px;
    margin-bottom: 70px;
}

.botones{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.botones a {
    text-decoration: none;
    color: #a47cff;
    border: 3px solid #7537c6b1;
    padding: 8px;
    text-align: center;
    transition: 0.3;
    font-family: 'VT323', monospace;
}

.botones a:hover {
    box-shadow: 0 0 10px #a47cff, 0 0 20px #a47cff;
    color: white;
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    width: 40vh;
}



#texto-informacion{
    width: 30vh;
}