@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body{
    font-family: 'VT323', monospace;
    display: flex;
    margin: 0;
    background-image: url("../img/fondoSoftware.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}